.SideBySideSection {
    display: flex;
    margin: 60px;
}


.SideBySideSection:first-child {
}

.SideBySideSection > h2 {
    flex: 1 1 0;
    align-self: flex-start;
    text-align: center;
    margin: 0 0 0 6%;
    font-weight: 100;
}

.SideBySideSection-content {
    flex: 2 1 0;
    margin: 0 6%;
}

.SideBySideSection-content > ul {
    padding: 0 0 0 21px;
}

.SideBySideSection-content * {
    color: #454545;
}